In [91]:
import warnings
warnings.filterwarnings("ignore")

In [92]:
import numpy as np
import pandas as pd
import geopandas
from shapely.geometry import Point

In [93]:
df_full = pd.read_csv("data/zomato_df_final_data.csv")

In [94]:
gdf = geopandas.read_file("data/sydney.geojson")

In [95]:
# haven't decided what to do with cuisine
df = df_full.drop(columns = ["address", "link", "phone", "title"], axis = 1)

In [96]:
df.dtypes

cost             float64
cuisine           object
lat              float64
lng              float64
rating_number    float64
rating_text       object
subzone           object
type              object
votes            float64
groupon             bool
color             object
cost_2           float64
cuisine_color     object
dtype: object

In [97]:
# for regression 1 we wont use rating_text
df = df.drop(columns = ["rating_text"], axis = 1)

In [98]:
len(df.cuisine_color.unique())
# not sure why we have this

5

In [99]:
# do some feature engineering
df.groupon = df.groupon.astype(int)

In [100]:
df = df.drop(columns = ["color", "cuisine_color"], axis = 1)

In [101]:
df.isna().sum()

cost              346
cuisine             0
lat               192
lng               192
rating_number    3316
subzone             0
type               48
votes            3316
groupon             0
cost_2            346
dtype: int64

In [102]:
# bringing address to see in helps
df["address"] = df_full["address"]

In [103]:
temp = df[df.lat.isna()]
temp.address

156       Level 4 & 5, Citymark, 683-689 George Street,...
317       Level 3, North End, QVB, 455 George Street, \...
438       The Cannery, Shop 1/34 Morley Avenue, Roseber...
468       Shop 5, 302 Church Street (enter via Phillip ...
573                    Lower Ground, 55 York Street, \tCBD
                               ...
10387     Ground Level, Forestville Centre, Starkey Str...
10477     Food Court, Greenway Plaza, 210 Church Street...
10483                  14 Bunlunga Lane, Mona Vale, Sydney
10491     Shop 2, Coogee Village Shopping Centre, 184 C...
10499            136 Sailors Bay Road, Northbridge, Sydney
Name: address, Length: 192, dtype: object

In [104]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

In [105]:
# i = 0
# for address in temp.address : 
#     print(f"{i}. address : {address}")
#     i += 1
#     try : 
#         geolocator = Nominatim(user_agent="address_to_ssc_code")
#         location = geolocator.geocode(address)
#         if location:
#             latitude, longitude = location.latitude, location.longitude
#             print(f"Latitude: {latitude}, Longitude: {longitude}")
#         else:
#             print("Address not found.")
#     except GeocoderTimedOut:
#         print("Geocoding service timed out. Address not found.")
#     except Exception as e:
#         print(f"An error occurred: Max retries exceeded")

In [106]:
# missing_suburbs = temp.address.apply(lambda x : x.split(",")[-1].strip())
# missing_suburbs = [suburb.strip() for suburb in missing_suburbs]

In [107]:
# missing_suburbs.unique()

In [108]:
# df.loc[df['lat'].isna(), "address"] = df['address'].str.split().str[-1].str.strip()

In [109]:
# subzone is not suburb or at leats it's not correct for 1359 entries
# suburb name dont have comma
len(df[df.subzone.str.contains(",")])

1359

In [110]:
df['subzone'] = df['subzone'].apply(lambda x: x.split(',')[-1].strip() if ',' in x else x)

In [111]:
len(df_full.subzone.unique())

572

In [112]:
len(df.subzone.unique())

339

In [117]:
df.isna().sum()

cost             103
cuisine            0
rating_number      0
subzone            0
type              21
votes              0
groupon            0
cost_2           103
dtype: int64

In [114]:
df = df.drop(columns = ["lat", "lng", "address"])

In [115]:
# will drop row if rating is missing for now

In [116]:
df.dropna(subset=['rating_number'], inplace=True)

In [118]:
df[df.cost.isna()]

,cost,cuisine,rating_number,subzone,type,votes,groupon,cost_2
396,NaN,['Japanese'],3.9,CBD,['Casual Dining'],44.0,0,NaN
793,NaN,"['Chinese', 'Sichuan']",3.8,Chinatown,['Casual Dining'],40.0,0,NaN
918,NaN,"['Sushi', 'Japanese']",3.5,Crows Nest,['Casual Dining'],18.0,0,NaN
983,NaN,['Korean BBQ'],3.6,Lidcombe,['Casual Dining'],56.0,0,NaN
1042,NaN,"['Japanese', 'Tea']",3.4,Redfern,['Casual Dining'],29.0,0,NaN
...,...,...,...,...,...,...,...,...
8653,NaN,['Chinese'],3.0,Eastwood,['Casual Dining'],14.0,0,NaN
8733,NaN,"['Indian', 'Pakistani']",2.8,Liverpool,['Casual Dining'],6.0,0,NaN
8865,NaN,['Modern Australian'],2.7,Liverpool,['Café'],6.0,0,NaN
8955,NaN,['Chinese'],2.7,Frenchs Forest,['Casual Dining'],8.0,0,NaN
9058,NaN,['Chinese'],3.1,Punchbowl,['Casual Dining'],13.0,0,NaN

In [119]:
df['cost'] = df.groupby('subzone')['cost'].transform(lambda x: x.fillna(x.mean()))

In [122]:
df.loc[396]

cost                     57.985294
cuisine               ['Japanese']
rating_number                  3.9
subzone                        CBD
type             ['Casual Dining']
votes                         44.0
groupon                          0
cost_2                         NaN
Name: 396, dtype: object